<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>Unisafe</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
  
  
<servlet>
<servlet-name>Unisafe</servlet-name>
<servlet-class>Controller.Member.MemberController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Unisafe</servlet-name>
<url-pattern>*.us</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Unisafe2</servlet-name>
<servlet-class>Controller.Manager.ManagerController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Unisafe2</servlet-name>
<url-pattern>*.mg</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>Adopt</servlet-name>
<servlet-class>Controller.Adopt.AdoptController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Adopt</servlet-name>
<url-pattern>*.at</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Admin</servlet-name>
<servlet-class>Controller.Admin.AdminController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Admin</servlet-name>
<url-pattern>*.ad</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SafeMall</servlet-name>
<servlet-class>Controller.SafeMall.SafeMallController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SafeMall</servlet-name>
<url-pattern>*.sm</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Board</servlet-name>
<servlet-class>Controller.Board.BoardController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Board</servlet-name>
<url-pattern>*.bd</url-pattern>
</servlet-mapping>

</web-app>